<%- include("../partials/header") %>

<%= console.log(keys.key1) %>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRLMancaKGDODotokdvrpMOLgnaJ5_7zg&callback=initMap">
</script>
<script>
function initMap() {
    // The location of Uluru
    var uluru = {
      lat: -25.344,
      lng: 131.036
    };
    // The map, centered at Uluru
    var map = new google.maps.Map(
      document.getElementById('map'), {
        zoom: 4,
        center: uluru
      });
    // The marker, positioned at Uluru
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>

<div class="container-fluid" style="margin-top: 65px;">
      <div class="row">
          <div class="col-md-3 border border-light" style="height: 400px; padding: 0;">
            <div id="map" style="width: 100%;height:250px;"></div>
           <div style="margin: 4;"> <a class="btn btn-success" href=" https://www.google.com/maps/@31.839472,54.361167,18z?hl=en">Directions</a></div>
          </div>
         <div class="card mx-auto col-md-8 p-0">
          <img src="<%= data.image %>" class="card-img-top" style="width: 100%; height:500px;"  id="show"  alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= data.title %></h5>
            <p class="card-text"><%= data.body %></p>z
            <span>created by...</span>
            <form action="/user/<%= user._id %>" method="GET" style="display: inline; float: right; margin-right: 10px;">
              <button class="btn btn-warning mt-2"><%= user.username %> </button>
        </form>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
         </div>
        
      <div class="row" style="margin-top: 40px;">
        <div class="col-md-3 border border-light" style="height: 200px;"></div>
        <div class="col-md-9" style="width: 100%; position:relative;">
          <h3 style="position: absolute; margin-left: 28px;">Comments:</h3>
         <a class="btn btn-success" style="margin-left: 30px;margin-top: 40px;" href="/blogs/<%= data._id %>/comments/new">add a new comment</a>
       <% data.comments.forEach(function(comment){ %>
          <p style="margin-top: 30px; margin-left: 30px;" ><strong><%= comment.author %> - </strong><%= comment.comment %> </p>
          
     <%  }); %>
        </div>
    </div>
</div>
    <%- include("../partials/footer") %>

 
  



