<%- include("../partials/header") %>

<div id="main-content" class="blog-page">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 left-box">
                    <div class="card single_post">
                        <div class="body" style="padding: 2px;">
                            <div class="img-post">
                                <img class="d-block img-fluid" style="width: 100%;" src="<%= data.image %>" alt="First slide">
                            </div>
                            <div class="body">
                                <p><%= data.body %></p>
                                <div class="created" style="position: absolute; right: 20px; bottom: 20px;">
                                    <span>created by...</span>
                                    <!-- <form action="/user/<%= user._id %>" method="GET" style="display:inline"  >
                                      <button class="btn btn-warning mt-2"> <%= user.username %> </button>
                                      
                                    </form> -->
                                  
                                    <a href="/user/<%= user._id %>" style= "margin-left: 5px; text-decoration: underline;"> <%= user.username %> </a>
                                    <!-- <a href="/blogs/<%= data._id %>/edit"> edit</a>
                                    <form action="/blogs/<%= data._id %>?_method=DELETE"  method="post">
                                        <button class="btn btn-rounded" >submit</button>
                                    </form> -->
                                  </div>

                                <div class="rating" style="float: right">
                                    <% for(var i = 0;i <= data.overall_rating;i++ ){ %>
                                        <i class="fa fa-star" aria-hidden="true" style="color: #ffdf00";></i>
                                    <% } %>
                                </div>

                                <form class="form-inline" style="display: inline;" method="POST" action="/search_loc">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name = "location" value = "<%= data.address %>" style = "display: none;">
                                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="margin-left: 0px">explore more</button>
                                </form>
                            </div>         
                        </div>               
                    </div>
                    <div class="card" style="background-color: #eee; padding: 2em;">
                            <div class="header" style="display: flex; justify-content: space-between">
                                <h2 >comemnts(<%= data.comments.length %> )</h2>
                                <a class="btn btn-outline-success" style="float: right"
                                href="/blogs/<%= data._id %>/comments/new">comment</a>
                            </div>
                            <div class="body" style="background-color: white">
                                <ul class="comment-reply list-unstyled">

                                  <% data.comments.forEach(function(comment){ %>

                                    <!-- <% console.log(comment)%> -->
                                    <li class="row clearfix" style="margin-bottom: 20px">
                                        <div class="icon-box col-md-2 col-4">
                                            <img class="img-fluid" src="<%= comment.avatar %>" alt="Awesome Image">
                                            <!-- <a href="<%= comment.avatar %>"> image link</a> -->
                                        </div>
                                        <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                            <h5 class="m-b-0" style="color: blue"><%= comment.author %> </h5>
                                            <p><%= comment.comment %></p>
                                            <ul class="list-inline">
                                                <li><a href="javascript:void(0);"><%= comment.created.toString().slice(0,10);  %></a></li>
                                                <li><a href="javascript:void(0);">Reply</a></li>
                                            </ul>

                                            <div style="float: right">
                                                <% for(var i = 0;i <= comment.rating;i++ ){ %>
                                                    <i class="fa fa-star" aria-hidden="true" style="color: #ffdf00";></i>
                                                <% } %>
                                            </div>
                                        </div>
                                    </li>
                                   
                                    <% }); %>
                                </ul>                                        
                            </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-12 right-box">
                    <div class="card">
                        <div class="body search">
                            <div class="input-group m-b-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">                                    
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2>Explore</h2>
                        </div>
                        <div class="body widget">
                            <ul class="list-unstyled categories-clouds m-b-0">
                                <li><a href="/book_hotels">Book Hotels</a></li>
                                <li><a href="/book_restaurants">Book restaurants</a></li>
                                <li><a href="/best_tickets">Find best tickets</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h4>Location</h4>                        
                        </div>
                    
                        <div class="body widget popular-post">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="single_post">
                                        <div class="img-post"> 
                                            <iframe
                                                width="450"
                                                height="250"
                                                frameborder="0" style="border:0"
                                                referrerpolicy="no-referrer-when-downgrade"
                                                src="https://www.google.com/maps/embed/v1/place?key=<%= process.env.google_maps_key %> &q=Eiffel+Tower,Paris+France">
                                            </iframe>
                                        </div>                                            
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



<%- include("../partials/footer") %>
