<%- include("../partials/header") %>


<div class="container  d-flex justify-content-center mt-10">
<form style="width: 50%;"  method="POST" action="/blogs/<%= newcom._id %>/comments" >
    <div class="form-group">
        <h6>Author:</h6>
      <input type="text" autocomplete="off" class="form-control"  placeholder="Author" name="com[author]" value="<%= currentUser.username%>">
    </div>
    <div class="form-group">
        <h6>Comment</h6>
      <!-- <input type="text" autocomplete="off" class="form-control" placeholder="Comment" name="com[comment]"> -->
      <textarea type="text" rows="8" cols="50" id="passwordExample" style="margin-bottom: 10px;" name="com[comment]" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <h6>Rating</h6>
    <!-- <input type="number" step = 1 class="form-control" placeholder="rate experience out of 5" name="com[rating]"> -->
    <div class="star-rating" style= "margin-bottom: 15px;" >
      <input type="radio" id="5-stars" name="com[rating]" value="5" />
      <label for="5-stars" class="star">&#9733;</label>
      <input type="radio" id="4-stars" name="com[rating]" value="4" />
      <label for="4-stars" class="star">&#9733;</label>
      <input type="radio" id="3-stars" name="com[rating]" value="3" />
      <label for="3-stars" class="star">&#9733;</label>
      <input type="radio" id="2-stars" name="com[rating]" value="2" />
      <label for="2-stars" class="star">&#9733;</label>
      <input type="radio" id="1-star" name="com[rating]" value="1" />
      <label for="1-star" class="star">&#9733;</label>
    </div>
   


  </div>
    <input type="submit" class="btn btn-primary " style="width:100%;background-color: midnightblue;" value="Submit">
    <!-- <p><%= currentUser.username%></p> -->
  </form>
</div>

<%- include("../partials/footer") %>