<%- include("../partials/header") %>

<div class="container">
      <div class="row" style="margin-bottom: 20px; background-color: whitesmoke;">
       <% data.posts.forEach(function(post){ %>
            <div class="card col-6 col-md-4" style="width: 18rem; padding: 0;">
                  <img class="card-img-top" src="<%= post.image %>" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><%= post.title %></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <form action="/blogs/<%= post._id %>?_method=DELETE" method="POST" style="display: inline;float: right;">
                        <button class="btn btn-danger mt-2">DELETE</button>
                     </form>
                     <form action="/blogs/<%= post._id %>/edit" method="GET" style="display: inline; float: right; margin-right: 10px;">
                        <button class="btn btn-warning mt-2">EDIT </button>
                     </form>
                  </div>
            </div>
             <% }); %>
      </div>  
   
</div>
<%- include("../partials/footer") %>

